/* SLICK */
.slick-dotted.slick-slider {margin-bottom:0;}
.slick-list {margin-bottom:40px;}

/* SLICK > Arrows */
.slick-arrow {z-index:1; width:35px; height:35px;}
.slick-prev {left:-40px;}
.slick-next {right:-40px;}
.slick-arrow:before {font-family:'fontawesome'; font-size:30px; color:#000;}
.slick-prev:before {content:'\f104';}
.slick-next:before {content:'\f105';}

/* SLICK > Dots */
.main_content .slick-dots {position:relative; bottom:auto; margin:0 0 30px;}
.main_content .slick-dots > li {padding:0;}
.main_content .slick-dots > li > button {}
.main_content .slick-dots > li > button:before {font-size:10px;}