/****************************
 * Ink transition effect
****************************/
/* Transition Layer */
.ink-transition.visible {
    opacity: 1; visibility: visible;
}
.ink-transition.opening .ink-layer {
    animation: ink-sequence 0.8s steps(24);
    animation-fill-mode: forwards;
}
.ink-transition.closing .ink-layer {
    animation: ink-sequence-reverse 0.8s steps(24);
    animation-fill-mode: forwards;
}
.ink-transition {
    position: fixed; top: 0; left: 0; z-index: 999;
    height: 100%; width: 100%;
    opacity: 0; visibility: hidden; overflow: hidden;
}
.ink-transition .ink-layer {
    position: absolute; left: 50%; top: 50%;
    transform: translateY(-50%) translateX(-2%);
    height: 100%; width: 2500%;
    background: url('../images/ink.png') no-repeat 0 0;
    background-size: 100% 100%;
}
.ink-transition .solid-layer {
    background: #c8c8c8; height: 100%; width: 100%;
    position: fixed; top: 0; left: 0;
    opacity: 0; visibility: hidden;
}
body.twc-page-loading .ink-transition .solid-layer {
    opacity: 1;
    visibility: visible;
}
.ink-transition #ink-close, .ink-transition #ink-open {
    visibility: hidden; opacity: 0;
}

@keyframes ink-sequence {
    0% {
        transform: translateY(-50%) translateX(-2%);
    }
    100% {
        transform: translateY(-50%) translateX(-98%);
    }
}

@keyframes ink-sequence-reverse {
    0% {
        transform: translateY(-50%) translateX(-98%);
    }
    100% {
        transform: translateY(-50%) translateX(-2%);
    }
}