/* STICKY HEADER */
.sticky-header {
    position:fixed; top:0; left:0; right:0; z-index:99;
    -webkit-transform:translateY(-105%);-ms-transform:translateY(-105%);transform:translateY(-105%);
    -webkit-transition:all .7s ease;-o-transition:all .7s ease;transition:all .4s ease;
}
.scroll-top .sticky-header, .scroll-up .sticky-header {transform:none;}
.scroll-middle .sticky-header {box-shadow:0 2px 2px 0 rgba(0,0,0,.2);}